@use "../_styles/colors";
@use "../_styles/mixins" as mixins;

.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 86px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-secondary);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  
    @include mixins.mediaquery('tablet', min) {
      padding-top: 100px;
    }
}


.contentBlock {
  text-align: center;
  
}