@use '../_styles/colors';
@use '../_styles/mixins' as mixins;

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  border-bottom: 2px solid var(--form-input);
  font-family: 'Gotham Pro';
  @include mixins.mediaquery('tablet', min) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mixins.mediaquery('desktop', min) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    justify-content: flex-start;
    border-bottom: 0px;
  }
}
.button {
  border: none;
  background-color: transparent;
}
.icon:hover,
.icon:focus {
  fill: var(--accent-main);
}
