@use "../../components/_styles/default";
@use "../../components/_styles/colors";


.title {
margin-bottom: 60px;
color: var(--accent-main);
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;

}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--text-normal);
}

.input{
    border: none;
    border-bottom: 1px solid #E0E0E0;
    width: 240px;
    
}

.button {
    width: 100px;
   
}

.list{
    display: flex;
    margin-top: 60px;
}

.item+.item{
margin-left: 32px;
}

.error{
    color: red;
}