.main {
  height: 100vh;
  overflow: hidden;
}

.main__content {
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
  position: relative;
  padding: 30px 20px 100px;
  @media screen and (min-width: 768px) {
    padding: 150px 30px 0;
    z-index: 999;
  }
  @media screen and (min-width: 1280px) {
    width: 600px;
    padding: 300px 15px 110px;
  }
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-contrast);
}

.main__img {
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
  }
  &.banana {
    @media screen and (min-width: 768px) {
      right: 0;
      top: 220px;
    }
    @media screen and (min-width: 1280px) {
      top: 0;
    }
  }
  &.leaves {
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1280px) {
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.leavesTable {
    @media screen and (min-width: 768px) {
      left: 0;
      top: -20px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  &.strawberry {
    @media screen and (min-width: 768px) {
      top: 0;
      right: 0;
    }
    @media screen and (min-width: 1280px) {
      top: auto;
      bottom: 0;
    }
  }
  &.mainVector {
    @media screen and (min-width: 768px) {
      right: -30px;
      top: 0;
      z-index: 0;
    }
    @media screen and (min-width: 1280px) {
      top: auto;
      right: 0;
      bottom: 0;
    }
  }

  &--wrapper {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      height: 509px;
      position: relative;
      width: 100%;
      height: 100%;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 0;
    }
  }
}

.calculate__form {
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
}
.calculate__field {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: var(--text-normal);
  border: none;
  border-bottom: 1px solid var(--form-input);
}

#blood-group {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--text-normal);
}

.radio {
  display: flex;
  grid-column-gap: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--text-normal);

  & label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: var(--text-normal);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s;
    &:hover {
      color: var(--accent-main);
      & .checkmark {
        border-color: var(--accent-main);
      }
    }
    & .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: var(--background);
      border-radius: 50%;
      border: 1px solid var(--form-input);
      transition: all 0.3s;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    & .radioItem {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }
}

label input:checked ~ .checkmark {
  border-color: var(--accent-main);
  &:after {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-main);
  }
}

button {
  width: fit-content;
  min-width: 210px;
  margin: 0 auto;
  padding: 15px 25px;
  border: none;
  color: var(--background);
  border: 1px solid var(--accent-main);
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--accent-main);
  opacity: 1;
  &:hover:enabled {
    box-sizing: border-box;
    color: var(--accent-main);
    background: var(--background);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  }
}

.subtitle-error {
  color: red;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.input-error {
  border-color: red;
}

.disabled-btn {
  cursor: not-allowed;
  background: var(--accent-main);
  opacity: 0.6;
}
